.hero-banner {
    height: 40em;
    position: relative;
    background: url('../assets/images/slider-image2.jpg');
    background-position: initial;
    background-size: 93em;
    width: 100%;
}
  
.bannerImg {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
  
.hero-banner-text {
    position: absolute;
    color: white;
    width: 40em;
    top: 10em;
    left: 10em;
}
  
.hero-banner-text span {
    padding: 0;
    font-size: 3em;
    font-weight: 500;
}

.hero-banner-text p {
    margin: 30px 0 6px 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.2;
}
  
.hero-banner-btn {
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: transparent;
    color: white;
    font-size: 1em;
    /* border: white; */
    border-color: white;
    border-radius: 3.5em;
    padding: 1em 2em;
    width: 11em;
    position: relative;
    text-align: left;
    cursor: pointer;
}
  
.hero-banner-btn:hover {
    background-color: rgb(65, 188, 131);
}
  
/* @media (max-width: 810px) {
    .hero-banner {
        margin: 0em -1em;
    }
  
    .hero-banner-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        left: 10vw;
        right: 10vw;
    }
  
    .hero-banner-text p {
        font-size: 1.2em;
        text-align: center;
    }
  
    .hero-banner-btn-1 {
        font-size: 0.9em;
    }
  
    .hero-banner-btn-2 {
        font-size: 0.9em;
    }
}
  
@media (min-width: 1600px) {
    .hero-banner {
        margin: 0em -50%;
    }
  
    .hero-banner-text {
        left: 25%;
    }
}
  
@media (min-width: 2200px) {
    .hero-banner {
        margin: 0em -75%;
    }
  
    .hero-banner-text {
        left: 30%;
    }
} */
