.footer {
    background-color: #171717;
    padding: 15px 10px;
    margin: auto;
}

.footer ul{
    display: flex;
    justify-content:flex-start;
}

.footer_List{
    display: flex;
    flex-direction: column;
    padding: 80px;
}
.footer_txt {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 15px;
}

.footer_contact{
    color: #b5b0b0;
    margin-bottom: 8px;
}

.footer_adress{
    color: #b5b0b0;
    margin-bottom: 8px;
}