.teachers_bloc{
    display: flex;
    margin-left: 65px;
}


.teachers_title{
    color: rgb(36, 35, 35);
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin: 0;
    padding: 85px 0 10px 0;
}

.teachers_text{
    color: #8e8c8c;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0 0 40px 0;
}

.text{
    visibility: hidden;
}

.teachers_img{
    width: 70%;
    object-fit: cover;
}

.teachers_social_content{
    display: flex;
    /* justify-content: space-between; */
    /* margin-right: 115px; */
    /* align-items: flex-start; */
    gap: 10px 30px;
    row-gap: 50px;
    column-gap: 295px;
    margin-left: 65px;
}

.teachers_social{
    display: flex;
}

.fa, .fab{
    padding: 0 15px 0 0;
    font-display: flex;
    /* justify-content: space-between; */
    

}

.teachers_icon{
    display: flex;
    /* justify-content: space-between; */
}

.teachers_name{
    color: rgb(79, 76, 76);
    justify-content: center;
    font-size: 25px;
    margin: 0;
    padding: 0px 0px 0px 15px;
}

.teachers_description{
    color: #8e8c8c;
    justify-content: center;
    font-size: 15px;
    margin: 0;
    padding: 5px 0px 0px 15px;
}

